{% extends "base.html" %}
{% block content %}
    <div class="card mb-3 my-3">
        <div class="card-header card-header-buttons">
            <h5>{{ title }}</h5>
            <div>
                <a class="btn btn-info" href="{% url 'donation_create' %}"><span
                        class="fa-fw fa-solid fa-xmark"></span></a>
            </div>
        </div>
        <div class="card-body">
            <img class="img-fluid w-50" src="{% qr_url_from_text registration_url %}" alt="{%  trans 'QR Code for donor registration' %}">
        </div>
    </div>
{% endblock %}